<a href="https://colab.research.google.com/github/subodh2708/PYTHON/blob/main/assignment_Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u> Use only those concepts which have been taught till now </u>

In [1]:
import numpy as np
import pandas as pd

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with. 

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [2]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.almabetter.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [26]:
# Extract the domains and the ending string. Hint : use the split method for a string
l = []
for url in url_list:
  l.append(url.split("//"))
print(l)

n = []
for y in l:
  n.append(y[1].split('/'))
print(n)


# print(l)
domain_list = [l[0] for l in n]
print(domain_list)


ending_string_list = [l[-1]for l in n]
print(ending_string_list)

[['https:', 'blog.hubspot.com/marketing/parts-url'], ['https:', 'www.almabetter.com/enrollments'], ['https:', 'pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html'], ['https:', 'www.programiz.com/python-programming/list']]
[['blog.hubspot.com', 'marketing', 'parts-url'], ['www.almabetter.com', 'enrollments'], ['pandas.pydata.org', 'pandas-docs', 'stable', 'reference', 'api', 'pandas.DataFrame.rename.html'], ['www.programiz.com', 'python-programming', 'list']]
['blog.hubspot.com', 'www.almabetter.com', 'pandas.pydata.org', 'www.programiz.com']
['parts-url', 'enrollments', 'pandas.DataFrame.rename.html', 'list']

## Next create a pandas dataframe with the above three lists.

In [29]:
# Your code here. Hint : zip the three lists
zipped_list = list(zip(domain_list,ending_string_list))
pd.DataFrame(zipped_list,columns= ["domain name","ending string"],index= ["first","second","third","fourth"])

               domain name                 ending string
first     blog.hubspot.com                     parts-url
second  www.almabetter.com                   enrollments
third    pandas.pydata.org  pandas.DataFrame.rename.html
fourth   www.programiz.com                          list