<a href="https://colab.research.google.com/github/subodh2708/PYTHON/blob/main/practice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
file_path = "/content/drive/MyDrive/Colab Notebooks/alma better/week 3/M1W3D2/dat/imdb_data.csv"
df = pd.read_csv(file_path )

In [3]:
df.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [4]:
df.shape

(3000, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [6]:
df['half_runtime'] = df['runtime']*0.5

In [7]:
df.head()

   id  ... half_runtime
0   1  ...         46.5
1   2  ...         56.5
2   3  ...         52.5
3   4  ...         61.0
4   5  ...         59.0

[5 rows x 24 columns]

In [8]:
df[(df['original_language'] == 'en') & (df['runtime'] > 120)]

        id  ... half_runtime
12      13  ...         61.0
14      15  ...         72.5
20      21  ...         65.0
33      34  ...         62.5
37      38  ...         63.5
...    ...  ...          ...
2967  2968  ...         67.0
2969  2970  ...         68.5
2970  2971  ...         64.5
2992  2993  ...         74.5
2993  2994  ...         64.0

[506 rows x 24 columns]

In [9]:
df.drop(['half_runtime','id'],axis = 1 , inplace = True)

In [10]:
df

                                  belongs_to_collection  ...    revenue
0     [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...   12314651
1     [{'id': 107674, 'name': 'The Princess Diaries ...  ...   95149435
2                                                   NaN  ...   13092000
3                                                   NaN  ...   16000000
4                                                   NaN  ...    3923970
...                                                 ...  ...        ...
2995                                                NaN  ...    1596687
2996                                                NaN  ...     180590
2997                                                NaN  ...   89456761
2998                                                NaN  ...  171963386
2999                                                NaN  ...   82087155

[3000 rows x 22 columns]

In [11]:
def to_uppercase(column):
  return column.upper()

In [12]:
to_uppercase("subodh kumar is a stupid man")

'SUBODH KUMAR IS A STUPID MAN'

In [13]:
df['Capitalise_title'] = df['title'].apply(to_uppercase)

In [14]:
def revised_profit(revenue,budget):
  if revenue > 0 :
    new_profit = budget - revenue

  else:
    new_profit = np.nan
  return new_profit

In [15]:
df.set_index(['imdb_id'])

                                       belongs_to_collection  ...                          Capitalise_title
imdb_id                                                       ...
tt2637294  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...                    HOT TUB TIME MACHINE 2
tt0368933  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
tt2582802                                                NaN  ...                                  WHIPLASH
tt1821480                                                NaN  ...                                   KAHAANI
tt1380152                                                NaN  ...                                MARINE BOY
...                                                      ...  ...                                       ...
tt0109403                                                NaN  ...                                   CHASERS
tt2364975                                                NaN  ...                          WE ARE THE BEST!
tt0116908                                                NaN  ...                   THE LONG KISS GOODNIGHT
tt0343135                                                NaN  ...                          ALONG CAME POLLY
tt1600195                                                NaN  ...                                 ABDUCTION

[3000 rows x 22 columns]

In [18]:
df['release_date'][0:5]

  release_date
0      2/20/15
1       8/6/04
2     10/10/14
3       3/9/12
4       2/5/09

In [22]:
from datetime import datetime
from datetime import date

In [24]:
df['new_release_date'] = df['release_date'].apply(lambda x : datetime.strptime(x,'%m/%d/%y') )

In [25]:
df.head(2)

                               belongs_to_collection  ...  new_release_date
0  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...        2015-02-20
1  [{'id': 107674, 'name': 'The Princess Diaries ...  ...        2004-08-06

[2 rows x 24 columns]

In [33]:
df['new_release_date'][0].second

0

In [34]:
date.today()

datetime.date(2022, 2, 24)

In [35]:
datetime.now()

datetime.datetime(2022, 2, 24, 16, 55, 36, 86579)

In [36]:
from datetime import timedelta

In [42]:
datetime.now() + timedelta(hours = 7)

datetime.datetime(2022, 2, 25, 0, 2, 54, 603437)

In [53]:
df['original_language'].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
cn      20
ko      20
zh      19
de      18
ta      16
sv       8
nl       6
pt       6
fa       5
da       5
ro       4
hu       3
tr       3
no       2
ml       2
pl       2
te       2
fi       2
ur       1
he       1
el       1
ar       1
nb       1
vi       1
mr       1
cs       1
sr       1
bn       1
id       1
Name: original_language, dtype: int64